@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
:root{
  --black-to-white-color:#080808;
  --lightBlack-to-light-purple-color:#262626;
  --red-to-purple-color:#ff004f;
  --white-to-black-color:#ffffff;
  --about-color:#faebd7;
  --social-icons:#ababab;
}
.light-theme{
  --black-to-white-color:#FAF3F0;
  --lightBlack-to-light-purple-color:#D67BFF;
  --red-to-purple-color:#7743DB;
  --white-to-black-color:#080808;
  --about-color:#080808; 
  --social-icons:#BEADFA;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-to-white-color);
  color: var(--white-to-black-color);
}
.floating_nav{
  display: none;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("files/display.jpg");
  background-size:cover;
  background-position: center;
  /* background-attachment:fixed; */
}
.container {
  padding: 10px 10%;
}
.auto-input{
  color: var(--red-to-purple-color);
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;
  /* position: fixed; */
}
nav .logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--red-to-purple-color);
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li ul li {
  display: none;
}
nav ul li ul li :hover {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-to-black-color);
  font-size: 20px;
  position: relative;
  color: #ffffff;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--red-to-purple-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
  /* transform: translateY(-5px); */
}
#icon{
  width: 30px;
  cursor: pointer;
}
.heading {
  margin-top: 10%;
  font-size: 30px;
  color: #ffffff;
}

.heading h1 {
  font-size: 60px;
  margin-top: 20px;
}

.heading h1 span {
  color: var(--red-to-purple-color);
}
nav ul{
  flex:1;
  text-align: right;
}
.fa-sun{
  cursor: pointer;
}
/* ------------------------------------------------------ABOUT----------------------------------------------------------------------- */
#about {
  padding: 80px 0;
  color: var(--about-color);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column1 {
  flex-basis: 35%;
}

.column1 img {
  width: 100%;
  border-radius: 16px;
}

.column2 {
  flex-basis: 60%;
}

.subtitle {
  font-size: 30px;
  font-weight: 600;
  color: var(--red-to-purple-color);
}
.about-desc{
  color: var(--white-to-black-color);
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--red-to-purple-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-content ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-content ul li span {
  color: var(--red-to-purple-color);
  font-size: 14px;
}

.tab-content {
  display: none;
}

.tab-content.active-tab {
  display: block;
}

/* --------------------------------------------------------SERVICES---------------------------------------------------------------*/
#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: var(--lightBlack-to-light-purple-color);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  border-right: 10px;
  transition: transform 1s;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: var(--white-to-black-color);
  font-size: 15px;
  display: inline-block;
  margin-top: 20px;
}

.services-list div:hover {
  background-color: var(--red-to-purple-color);
  transform: translateY(-10px);
}

/* -------------------------------------------------WORKS------------------------------------------------------------------- */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.work img {
  border-radius: 10px;
  display: block;
  width: 100%;
  transform: 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--red-to-purple-color));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer {
  align-items: center;
  color: #ffffff;
}

.layer a {
  margin-top: 20px;
  color: var(--red-to-purple-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background:#ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  text-decoration: none;
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--red-to-purple-color);
  padding: 14px 50px;
  border-radius: 6px;
  color: var(--white-to-black-color);
  cursor: pointer;
  transition: background 0.5s;
}

.btn:hover {
  background: var(--red-to-purple-color);
}

/* --------------------------------------------------------CONTACT------------------------------------------------------- */
.contactleft {
  flex-basis: 35%;
}
.contactmid {
  flex-basis: 0.5%;
  background-color: var(--red-to-purple-color);
}
.contactmid hr {
  transform: rotate(90deg);
  color: var(--white-to-black-color);
}
.contactright {
  flex-basis: 55%;
}

.contactleft p {
  margin-top: 30px;
  font-size: 20px;
}

.contactleft p i {
  color: var(--red-to-purple-color);
  margin-right: 15px;
}
.contactleft.btn {
  transform: translateY(-5px);
}
.socialicons {
  margin-top: 30px;
}

.socialicons a {
  text-decoration: none;
  display: inline-block;
  color: var(--social-icons);
  margin-right: 15px;
  font-size: 30px;
  transition: transform 0.5s;
}

.socialicons a:hover {
  color: var(--red-to-purple-color);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: var(--red-to-purple-color);
}

.contactright form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: var(--lightBlack-to-light-purple-color);
  color: #f5f0f0;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  font-size: 18px;
}

form .btn2 {
  padding: 14px 60px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  transition: transform 1s;
}
form .btn2:hover {
  transform: translateY(-5px);
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  margin-top: 20px;
  background: var(--lightBlack-to-light-purple-color);
}

.copyright i {
  color: var(--red-to-purple-color);
}
#submit-msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
  font-size: 20px;
}

/* -------------------css for small screen------------ */
nav .fas {
  display: none;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  #header {
    background-image: url(files/display.jpg);
  }
  .floating_nav{
    display: flex;
    padding: 0.5rem 1.4rem;
    backdrop-filter: blur(15px);
    background-color: var(--red-to-purple-color);
    border-radius: 3rem;
    bottom: 0.5rem;
    gap: 0.8rem;
    left: 50%;
    position: fixed;
    transform: translateX(-50%);
    transition: all .5s ease;
    z-index: 10000;
    width: max-content;
  }
  .floating_nav svg{
    color: #ffffff;
    font-weight: 800;
  }
  .heading p {
    margin-top: 40%;
    font-size: 40px;
  }
  .heading h1 {
    margin-top: 40px;
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: var(--red-to-purple-color);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.5s;
    z-index: 100;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .subtitle {
    font-size: 40px;
  }
  .column1,
  .column2 {
    flex-basis: 100%;
  }
  .column1 {
    margin-bottom: 25px;
  }
  .column2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contactleft,
  .contactright {
    flex-basis: 100%;
  }
  .contactmid {
    display: none;
  }
  .mail span {
    font-size: 16px;
  }
  .copyright {
    font-size: 14px;
  }
}

/* ----------------css for medium screen--------------- */

@media only screen and (min-width: 601px) and (max-width: 925px)  {
  #header {
    background-image: url(files/display.jpg);
  }
  nav .fas {
    /* display: none; */
    width: 30px;
    color: #ffffff;
  }
  .heading p {
    margin-top: 40%;
    font-size: 60px;
  }
  .heading h1 {
    margin-top: 40px;
    font-size: 50px;
  }
  nav .fas {
    display: block;
    font-size: 45px;
  }
  nav ul {
    background: var(--red-to-purple-color);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    transition: right 0.5s;
    z-index: 100;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  p{
    font-size: 20px;
  }
  .subtitle {
    font-size: 60px;
  }
  .column1,
  .column2 {
    flex-basis: 100%;
  }
  .column1 {
    margin-bottom: 25px;
  }
  .column2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contactleft,
  .contactright {
    flex-basis: 100%;
  }
  .contactmid {
    display: none;
  }
  .mail span {
    font-size: 25px;
  }
  .copyright {
    font-size: 20px;
  }
  .layer p{
    font-size: 16px;
  }
}
